:root {
    --primary-color: #222831;
    --secondary-color: #f96d00;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: bold;
}

.hero {
    color: #eeeeee;
    padding: 200px 100px 50px;
    background-image: url("/images/hero-image.jpg");
    text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color), -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color);
}

.heroAbout {
    max-width: 700px;
}

.heroRecipes {
    background-image: url("/images/hero-recipes.gif");
    background-size: 100%;
    padding: 200px 20px;
    text-align: center;
}

.heroRecipes span {
    color: var(--primary-color);
    background: var(--secondary-color);
    padding: 20px 40px;
}

.more {
    text-align: center;
}

.learnMore {
    text-shadow: none;
    font-weight: bold;
    margin: 0 auto;
    border-color: #eeeeee;
}

.recipes {
    font-weight: bolder;
}

.dish {
    padding: 30px;
    color: var(--primary-color);
    transition: all 200ms ease-in-out;
}

.dish:hover {
    opacity: 0.8;
}

.about {
    background: var(--primary-color);
}

.information {
    margin-top: 80px;
    margin-right: 50px;
    margin-left: -250px;
    padding: 30px;
    background: var(--secondary-color);
    color: #f2f2f2;
}

.information p {
    font-size: 15px;
}

.viewRecipes {
    margin: 50px;
    text-align: center;
}

.viewRecipes a {
    background: var(--primary-color);
    color: #f2f2f2;
    transition: all 100ms ease-in-out;
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
}

.viewRecipes a:hover {
    background: var(--secondary-color);
    color: #f2f2f2;
}

@media (max-width: 768px) {
    .hero {
        padding: 100px 30px 30px;
    }
    .description {
        font-size: 15px;
    }
    .information {
        margin: 25px;
        margin-top: -50px;
        text-align: center;
    }
    .information p {
        font-size: 15px;
        text-align: justify;
    }
    .viewRecipes a {
        font-size: 20px;
    }
}