:root {
    --primary-color: #222831;
    --secondary-color: #f96d00;
}

body {
    font-family: 'Raleway', sans-serif !important;
}

h1 {
    font-weight: bold;
}

nav {
    padding: 10px 50px ;
    background: var(--primary-color);
    font-family:'Raleway', sans-serif;
}
  
nav ul {
padding: 0;
margin: 0;
}

nav li {
display: inline;
list-style: none;
line-height: 25px;
margin-left: 20px;
}

nav a {
text-decoration: none;
color: #f2f2f2;
transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
color: var(--secondary-color);
}

footer {
    margin: 60px 0;
}

footer .contact-box {
background: var(--primary-color);
color:#f2f2f2;
padding: 30px 80px;
margin: 0 100px;
border-radius: 10px;
}

footer .contactMe {
    background: var(--secondary-color);
    color:#f2f2f2;
}

footer .contactMe:hover {
    background: #f2f2f2;
}

footer .social-links a {
margin: 0 20px;
color: #f2f2f2;
background: var(--primary-color);
padding: 10px 17px;
border-radius: 55%;
font-size: 25px;
transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
color: var(--primary-color);
background: var(--secondary-color);
}

.hero {
    color: #eeeeee;
    padding: 200px 100px 50px;
    background-image: url("/images/hero-image.jpg");
    text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color), -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color);
}

.heroAbout {
    max-width: 700px;
}

.heroRecipes {
    background-image: url("/images/hero-recipes.gif");
    background-size: 100%;
    padding: 200px 20px;
    text-align: center;
}

.heroRecipes span {
    color: var(--primary-color);
    background: var(--secondary-color);
    padding: 20px 40px;
}

.more {
    text-align: center;
}

.learnMore {
    text-shadow: none;
    font-weight: bold;
    margin: 0 auto;
}

.learnMore:hover {
    background: var(--secondary-color);
    color: #f2f2f2;
    border-color: var(--secondary-color);
}

.recipes {
    font-weight: bolder;
}

.dish {
    padding: 30px;
    color: var(--primary-color);
    transition: all 200ms ease-in-out;
}

.dish:hover {
    opacity: 0.8;
}

.about {
    background-image: url("/images/hero-about.jpg");
    background-size: 100%;
    padding: 200px 20px 50px;
    text-align: center;
}

.about span {
    color: var(--primary-color);
    background: var(--secondary-color);
    padding: 20px 40px;
}

.information {
    margin: 80px 100px;
    padding: 15px;
    color: var(--primary-color);
    text-align: center;
    background: var(--secondary-color);
}

.information p {
    font-size: 15px;
}

.viewRecipes {
    margin: 50px;
    text-align: center;
}

.viewRecipes a {
    background: var(--primary-color);
    color: #f2f2f2;
    transition: all 100ms ease-in-out;
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
}

.viewRecipes a:hover {
    background: var(--secondary-color);
    color: #f2f2f2;
}

@media (max-width: 576px) {
    nav {
        padding: 10px 10px;
        font-size: 12px;
    }
    nav li {
        margin-left: 10px;
        line-height: 20px;
    }
    .hero {
        padding: 100px 30px 30px;
    }
    .description {
        font-size: 15px;
    }
    .about {
        background: var(--primary-color);
        padding-top: 100px
    }
    .about span {
        font-size:20px;
        padding: 10px;
    }
    .information {
        margin: 25px;
    }
    .information p {
        font-size: 15px;
        text-align: justify;
    }
    .viewRecipes a {
        font-size: 20px;
    }
    .heroRecipes {
        padding: 70px 20px 35px;
    }
    .heroRecipes span {
        padding: 15px 10px;
        font-size: 30px;
    }
}